<div class="gryffeditor">
<div data-label="Text Block"> <div class="elm text-edit">If you have any questions or need help, our MaxLiving team is waiting to assist you. <br><br>
<div class="contact_row">
<div class="contact_row_hours" style="background: #f7f7f7;">
<h2>Customer Service Hours</h2>
<p><strong>Monday - Friday</strong><br>8:00AM - 5:00PM ET<br><strong>Saturday and Sunday</strong><br>Closed</p>
<p>Please note: If you call outside of regular business hours, leave a message and your call will be returned.</p>
</div>
<div class="contact_column" style="background: #f7f7f7;">
<h2>Call Us</h2>
<p><a href="tel:1-321-939-3030">1-321-939-3030</a></p>
</div>
<div class="contact_column" style="background: #f7f7f7;">
<h2>Email Us</h2>
<p>Have questions about your MaxLiving order? Send us an email by <a href="mailto:customersupport@maxliving.com">clicking here</a>.</p>
</div>
</div></div></div>
</div><div id="divContentBk"></div>